<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" href="#">Menu</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" routerLinkActive="active">
            <li class="nav-item"><a class="nav-link" routerLink="/cadastro-solicitante">Cadastro de Solicitantes</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/solicitar-pilha">Solicitar item</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/aceitar-solicitacao">Aprovar item</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/visualizar-pedidos">Visualizar item</a></li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>    

<footer class="page-footer font-small blue" id="footer">
    <div class="footer-copyright text-center pt-3">Leonardo da Silva Lima - Contato: (47) 99667-2413</div>
</footer>

