<h1>Lista de solicitações</h1>
<div class="row">
  <div class="col-lg-12 table-responsive">
      <table class="table table-hover table-fixed">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nome do Solicitante</th>
            <th>Descrição do Item</th>
            <th>Valor do Item</th>
            <th>Situação</th>    
            <th>Visualizar</th>
            <th>Deletar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of pedidos" data-toggle="modal">
            <td>{{p.id}}</td>
            <td>{{p.nomeSolicitante}}</td>
            <td>{{p.descricaoItem}}</td>
            <td>{{p.valorItem}}</td>
            <td>{{p.aprovado}}</td>
            <td><button mat-button class="btn btn-primary btn-rounded btn-sm my-0" (click)="onClick(p.id)"><i class="material-icons">open_in_new</i></button></td>
            <td><button mat-button class="btn btn-primary btn-rounded btn-sm my-0" (click)="onDelete(p)"><i class="material-icons">delete</i></button></td>
          </tr>
        </tbody>
      </table>
    </div>
    
    <div class="modal" id="myModal" [style.display]="showModal ? 'block' : 'none'">
        <div class="modal-dialog">
          <div class="modal-content">
          
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Solicitação</h4>
              <button type="button" class="close" data-dismiss="modal" (click) = "hide()">&times;</button>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
              <p>Nome solicitante : {{pedido.nomeSolicitante}}</p>
              <p>Valor do item : {{pedido.valorItem}}</p>
              <p>Descrição : {{pedido.descricaoItem}}</p>
            </div>
            
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal" (click) = "hide()">Fechar</button>
            </div>
            
          </div>
        </div>
    </div>
</div>