<h2 class="text-center" id="titulo">Solicitar compra</h2>
<div class="col-md-12" id="form">
  <form [formGroup]="pedidoForm" (ngSubmit)="onSubmit()">
    <div class="col-md-6" id="solicitar">
      <div class="form-group">        
        
        <div class="row">
          <div class="col-sm-6">
            <label>Nome do Solicitante: </label>
            <input id="nomeSolicitante" name="nomeSolicitante" class="form-control" formControlName="nomeSolicitante">
          </div>

          <div class="col-sm-6">
            <label for="valorItem">Valor do Item</label>
            <input id="valorItem" name="valorItem" class="form-control" formControlName="valorItem" type="number">
          </div>
        </div>

        <div class="row" id="descricaoItemDiv">
          <div class="col-lg-12">
            <label for="descricaoItem">Descrição do Item</label>
            <textarea class="form-control" id="descricaoItem" rows="5" formControlName="descricaoItem"></textarea>              
          </div>
        </div>
        
        <div class="row" id="botoes">
          <div class="col-md-6">
            <button mat-button class="btn btn-primary" (click)="onSubmit()" id="save"><i class="material-icons">add_shopping_cart</i></button>
          </div>

          <div class="col-md-6">
            <button mat-button class="btn btn-primary" (click)="onSubmit()" id="cancel"><i class="material-icons">cancel_presentation</i></button>
          </div>
        </div>
      </div>
    </div> 
  </form>
</div>